---
http_interactions:
- request:
    method: get
    uri: "https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/merge_requests?labels=geo&state=opened"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3b7e51dad8fba180356a3a64030ce6b5"
      Link:
      - <https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/merge_requests?id=gitlab-org%2Fgitlab&labels=geo&order_by=created_at&page=1&per_page=20&sort=desc&state=opened>;
        rel="first", <https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/merge_requests?id=gitlab-org%2Fgitlab&labels=geo&order_by=created_at&page=1&per_page=20&sort=desc&state=opened>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '7'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":3969539,"iid":2241,"project_id":278964,"title":"Geo: fix removal
        of repositories from disk on secondary nodes (Backport to 9.2)","description":"##
        What does this MR do?\n\nBackports gitlab-org/gitlab!2210 to %9.2\n\n##
        Are there points in the code the reviewer needs to double check?\n\n## Why
        was this MR needed?\n\nThis is a critical fix for Geo, while we want people
        to always use our latest versions, we understand that there are reasons why
        people sometime keeps on the previous stable version for a while.\n\n## Does
        this MR meet the acceptance criteria?\n\n- [ ] [Changelog entry](https://docs.gitlab.com/ce/development/changelog.html)
        added, if necessary\n- [ ] [Documentation created/updated](https://gitlab.com/gitlab-org/gitlab/blob/master/doc/development/doc_styleguide.md)\n-
        [ ] API support added\n- Tests\n  - [ ] Added for this feature/bug\n  - [
        ] All builds are passing\n- [ ] Conform by the [merge request performance
        guides](http://docs.gitlab.com/ee/development/merge_request_performance_guidelines.html)\n-
        [ ] Conform by the [style guides](https://gitlab.com/gitlab-org/gitlab/blob/master/CONTRIBUTING.md#style-guides)\n-
        [ ] Branch has no merge conflicts with `master` (if it does - rebase it please)\n-
        [ ] [Squashed related commits together](https://git-scm.com/book/en/Git-Tools-Rewriting-History#Squashing-Commits)\n\n##
        What are the relevant issue numbers?\n\n* gitlab-org/gitlab!2210\n* gitlab-org/gitlab#2701","state":"opened","created_at":"2017-06-24T01:59:51.096Z","updated_at":"2017-06-24T20:35:22.782Z","target_branch":"9-2-stable-ee","source_branch":"backport-2210-to-9-2","upvotes":0,"downvotes":0,"author":{"name":"Gabriel
        Mazetto","username":"brodock","id":2293,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/0194f7ce33ec23b1788ffe382d4a4f08?s=80\u0026d=identicon","web_url":"https://gitlab.com/brodock"},"assignee":{"name":"Douwe
        Maan","username":"DouweM","id":87854,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/87854/avatar.png","web_url":"https://gitlab.com/DouweM"},"source_project_id":278964,"target_project_id":278964,"labels":["customer","geo","regression"],"work_in_progress":false,"milestone":{"id":269773,"iid":23,"project_id":278964,"title":"9.2","description":"","state":"active","created_at":"2017-02-20T13:55:42.958Z","updated_at":"2017-04-07T14:54:22.817Z","due_date":"2017-05-21","start_date":"2017-04-08"},"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"2c15628547416cecd86cf4497ed61dd85d36e757","merge_commit_sha":null,"user_notes_count":1,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"squash":false,"web_url":"https://gitlab.com/gitlab-org/gitlab/merge_requests/2241"},{"id":3967652,"iid":2238,"project_id":278964,"title":"WIP:
        Add Geo repository renamed event log","description":"Closes #2641","state":"opened","created_at":"2017-06-23T20:47:12.832Z","updated_at":"2017-06-23T21:34:20.390Z","target_branch":"master","source_branch":"da-geo-log-namespace-project-rename-events","upvotes":0,"downvotes":0,"author":{"name":"Douglas
        Barbosa Alexandre","username":"dbalexandre","id[...]
