---
http_interactions:
- request:
    method: get
    uri: "https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/merge_requests?labels=Discussion&state=opened"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86d6a91e0269bb7d3503573f2ab2d93b"
      Link:
      - <https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/merge_requests?id=gitlab-org%2Fgitlab&labels=Discussion&order_by=created_at&page=1&per_page=20&sort=desc&state=opened>;
        rel="first", <https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/merge_requests?id=gitlab-org%2Fgitlab&labels=Discussion&order_by=created_at&page=1&per_page=20&sort=desc&state=opened>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":3976656,"iid":2246,"project_id":278964,"title":"Related Issues
        UX improvements - loading","description":"## What does this MR do?\n\n - Move
        the loading icon into the panel body\n - Add transition when the panel body
        collapses away after fetching and the loading icon goes away\n - Add loading
        icon to the submit button\n - Server-side render basic panel heading for Related
        Issues as a placeholder until the JS kicks-in\n\n![](http://imgur.com/tlFbcFr.gif)\n\n![](http://imgur.com/I7UE3zU.gif)\n\n![](http://imgur.com/V0zjc41.gif)\n\n\n##
        Are there points in the [...]
