---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-foss/merge_requests/18745
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da37810ce5cce7356ed64e9857ff5291"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1527181874'
      Ratelimit-Resettime:
      - Fri, 24 May 2018 17:11:14 GMT
    body:
      encoding: UTF-8
      string: '{"id":9638040,"iid":18745,"project_id":13083,"title":"Resolve \"Import/Export
        (import) is broken due to the addition of a CI table\"","description":"##
        What does this MR do?\n\n## Are there points in the code the reviewer needs
        to double check?\n\n## Why was this MR needed?\n\n## Screenshots (if relevant)\n\n##
        Does this MR meet the acceptance criteria?\n\n- [ ] [Changelog entry](https://docs.gitlab.com/ee/development/changelog.html)
        added, if necessary\n- [ ] [Documentation created/updated](https://docs.gitlab.com/ee/development/doc_styleguide.html)\n-
        [ ] API support added\n- [ ] Tests added for this feature/bug\n- Review\n  -
        [ ] Has been reviewed by UX\n  - [ ] Has been reviewed by Frontend\n  - [
        ] Has been reviewed by Backend\n  - [ ] Has been reviewed by Database\n- [
        ] Conform by the [merge request performance guides](https://docs.gitlab.com/ee/development/merge_request_performance_guidelines.html)\n-
        [ ] Conform by the [style guides](https://gitlab.com/gitlab-org/gitlab/blob/master/CONTRIBUTING.md#style-guides)\n-
        [ ] [Squashed related commits together](https://git-scm.com/book/en/Git-Tools-Rewriting-History#Squashing-Commits)\n-
        [ ] Internationalization required/considered\n- [ ] End-to-end tests pass
        (`package-and-qa` manual pipeline job)\n\n## What are the relevant issue numbers?\n\n\nCloses
        #46049","state":"merged","created_at":"2018-05-04T12:35:40.242Z","updated_at":"2018-05-09T08:58:04.795Z","target_branch":"master","source_branch":"46049-import-export-import-is-broken-due-to-the-addition-of-a-ci-table","upvotes":0,"downvotes":0,"author":{"id":273486,"name":"James
        Lopez","username":"jameslopez","state":"active","avatar_url":"https://secure.gravatar.com/avatar/3731e7dd4f2b4fa8ae184c0a7519dd58?s=80\u0026d=identicon","web_url":"https://gitlab.com/jameslopez"},"assignee":{"id":87854,"name":"Douwe
        Maan","username":"DouweM","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/87854/avatar.png","web_url":"https://gitlab.com/DouweM"},"source_project_id":13083,"target_project_id":13083,"labels":["Platform","import","project
        export","regression"],"work_in_progress":false,"milestone":{"id":445863,"iid":12,"group_id":9970,"title":"10.8","description":"","state":"active","created_at":"2018-01-16T17:05:23.570Z","updated_at":"2018-01-16T17:05:23.570Z","due_date":"2018-05-22","start_date":"2018-04-08"},"merge_when_pipeline_succeeds":true,"merge_status":"can_be_merged","sha":"4f04aeec80bbfcb025e321693e6ca99b01244bb4","merge_commit_sha":"0065c449ff95cf6e0643bab17ed236c23207b537","user_notes_count":7,"discussion_locked":null,"should_remove_source_branch":true,"force_remove_source_branch":null,"web_url":"https://gitlab.com/gitlab-org/gitlab-foss/merge_requests/18745","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":false,"changes_count":"3","merged_by":{"id":87854,"name":"Douwe
        Maan","username":"DouweM","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/87854/avatar.png","web_url":"https://gitlab.com/DouweM"},"merged_at":"2018-05-04T16:01:25.888Z","closed_by":null,"closed_at":null,"latest_build_started_at":"2018-05-04T15:22:51.675Z","latest_build_finished_at":"2018-05-04T16:00:37.614Z","first_deployed_to_production_at":null,"pipeline":{"id":21526587,"sha":"4f04aeec80bbfcb025e321693e6ca99b01244bb4","ref":"46049-import-export-import-is-broken-due-to-the-addition-of-a-ci-table","status":"success"},"diff_refs":{"base_sha":"2d23cb1b9fa9fed19ce66998c5b4177ee13ef5f3","head_sha":"4f04aeec80bbfcb025e321693e6ca99b01244bb4","start_sha":"7603beffc916d06039cac63b223d8e6234b5d666"},"approvals_before_merge":null,"squash":false}'
  recorded_at: Thu, 24 May 2018 17:10:14 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-foss/repository/commits/v10.8.0-rc1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9eadb6800f8c1400393cc6918e34cc26"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1527181979'
      Ratelimit-Resettime:
      - Fri, 24 May 2018 17:12:59 GMT
    body:
      encoding: UTF-8
      string: '{"id":"d36753ca4448983a4113f8e6fccdbe58d3452ecd","short_id":"d36753ca","title":"Update
        VERSION to 10.8.0-rc1","created_at":"2018-05-02T15:02:04.000-05:00","parent_ids":["82b4983823f24f698b8e594f355ccd839a33a8ac"],"message":"Update
        VERSION to 10.8.0-rc1\n","author_name":"Mayra Cabrera","author_email":"mcabrera@gitlab.com","authored_date":"2018-05-02T15:02:04.000-05:00","committer_name":"Mayra
        Cabrera","committer_email":"mcabrera@gitlab.com","committed_date":"2018-05-02T15:02:04.000-05:00","stats":{"additions":1,"deletions":1,"total":2},"status":"success","last_pipeline":{"id":21512419,"sha":"d36753ca4448983a4113f8e6fccdbe58d3452ecd","ref":"10-8-stable-prepare-rc2","status":"success"},"project_id":13083}'
  recorded_at: Thu, 24 May 2018 17:11:59 GMT
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab/repository/commits/v10.8.0-rc1-ee
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6320dd39da1bd993f4004eedc6e0cca"
      Ratelim[...]
[...]
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-foss/repository/compare?from=v10.8.0-rc1&to=v10.8.0-rc2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a08782f823236dc13e73b31a39340b24"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1527258761'
      Ratelimit-Resettime:
      - Sat, 25 May 2018 14:32:41 GMT
    body:
      encoding: UTF-8
      string: '{"commit":{"id":"7f7153301ad59d864791cb85d8abd1135962e954","short_id":"7f715330","title":"Update
        VERSION to 10.8.0-rc2","created_at":"2018-05-04T18:02:47.000Z","parent_ids":["fb38c4e6457ae93794879f29ce0bf62dffc2d407"],"message":"Update
        VERSION to 10.8.0-rc2\n","author_name":"Mayra Cabrera","author_email":"mcabrera@gitlab.com","authored_date":"2018-05-04T18:02:47.000Z","committer_name":"Mayra
        Cabrera","committer_email":"mcabrera@gitlab.com","committed_date":"2018-05-04T18:02:47.000Z"},"commits":[{"id":"c8f70158e57213e4a813aef1e3b0ad9aa22441b0","short_id":"c8f70158","title":"Merge
        branch ''46049-import-export-import-is-broken-due-to-the-addition-of-a-ci-table''
        into ''master''","created_at":"2018-05-04T16:09:51.000Z","parent_ids":["d36753ca4448983a4113f8e6fccdbe58d3452ecd"],"message":"Merge
        branch ''46049-import-export-import-is-broken-due-to-the-addition-of-a-ci-table''
        into ''master''\n\nResolve \"Import/Export (import) is broken due to the addition
   [...]
[...]
