---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-foss/pipelines
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa745f5cc044ffc6ee5f875df5d515a3"
      Link:
      - <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/pipelines?id=gitlab-org%2Fgitlab-foss&order_by=id&page=2&per_page=20&sort=desc>;
        rel="next", <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/pipelines?id=gitlab-org%2Fgitlab-foss&order_by=id&page=1&per_page=20&sort=desc>;
        rel="first"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1554308680'
      Ratelimit-Resettime:
      - Thu, 03 Apr 2019 16:24:40 GMT
    body:
      encoding: UTF-8
      string: '[{"id":55053803,"sha":"ee72dc1b34d893662fe0cb7793a1a960312b1f48","ref":"master","status":"pending","web_url":"https://gitlab.com/gitlab-org/gitlab-foss/pipelines/55053803"},{"id":55051143,"sha":"4292486402affae3a8e8ef9845eb4202a4a36abf","ref":"11-9-stable-patch-6","status":"pending","web_url":"https://gitlab.com/gitlab-org/gitlab-foss/pipelines/55051143"},{"id":55050061,"sha":"f621ab634872c31597d779d435abab424e08f2ab","ref":"11-9-stable-patch-6","status":"canceled","web_url":"https://gitlab.com/gitlab-org/gitlab-foss/pipelines/55050061"},{"id":55049188,"sha":"c7dec5ef0e162e92825a5c3c335a31eb0fc61932","[...]
