---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Frelease%2Ftasks/issues?labels=Monthly%20Release,team::Delivery&milestone=11.7&search=Release%2011.7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ecbc1cfea8b740e7cf0b98d478a10f9"
      Link:
      - <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Frelease%2Ftasks/issues?id=gitlab-org%2Frelease%2Ftasks&labels=Monthly+Release%2CDelivery&milestone=11.7&order_by=created_at&page=1&per_page=20&search=Release+11.7&sort=desc&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Frelease%2Ftasks/issues?id=gitlab-org%2Frelease%2Ftasks&labels=Monthly+Release%2CDelivery&milestone=11.7&order_by=created_at&page=1&per_page=20&search=Release+11.7&sort=desc&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '3'
      Ratelimit-Remaining:
      - '597'
      Ratelimit-Reset:
      - '1547140383'
      Ratelimit-Resettime:
      - Fri, 10 Jan 2019 17:13:03 GMT
    body:
      encoding: UTF-8
      string: '[{"id":17030603,"iid":617,"project_id":5064907,"title":"Release 11.7","description":"##
        First steps\n\nStable branch should be created after the 7th. The 7th is the
        last date to reliably get things in.\n\n- [x] Assign this issue to all the
        [release managers and trainees](https://about.gitlab.com/release-managers/)\n-
        [x] Create a new slack channel `#f_release_11_7`\n- [x] Set the channel topic
        to `RMs: https://about.gitlab.com/release-managers`\n- [x] Invite all current
        release managers\n- [x] Inside the old release slack channel, notify about
        `#f_release_11_7`\n\n     ```\n     Hello :wave:\n     We are starting 11.7
        into #f_release_11_7\n     Please archive this channel and join #f_release_11_7
        if interested\n     ```\n- [x] Create the ~\"Pick into 11.7\" group label
        if it doesn''t exist: https://gitlab.com/groups/gitlab-org/labels/new\n  -
        Title: `Pick into 11.7`\n  - Description: ``Merge requests to cherry-pick
        into the `11-7-stable` branch.``\n  - Color: `#00c8ca`\n- [x] Make sure the
        latest [CE to EE] on `master` branches is merged (it will reduce conflicts
        in the future). Ask in `#ce-to-ee` when in doubt.\n- [x] Create branch `11-7-stable`
        from CE `master` manually\n- [x] Create branch `11-7-stable-ee` from EE `master`
        manually\n- [x] In Omnibus create both `11-7-stable` and `11-7-stable-ee`
 [...]
