---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-foss/merge_requests?labels=Delivery&state=opened
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_PRODUCTION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f56d79281214e6f17412d98883a330e"
      Link:
      - <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/merge_requests?id=gitlab-org%2Fgitlab-foss&labels=Delivery&order_by=created_at&page=1&per_page=20&sort=desc&state=opened>;
        rel="first", <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/merge_requests?id=gitlab-org%2Fgitlab-foss&labels=Delivery&order_by=created_at&page=1&per_page=20&sort=desc&state=opened>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '2'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '6'
      Ratelimit-Remaining:
      - '594'
      Ratelimit-Reset:
      - '1539806117'
      Ratelimit-Resettime:
      - Thu, 17 Oct 2018 19:55:17 GMT
    body:
      encoding: UTF-8
      string: '[{"id":17911191,"iid":22431,"project_id":13083,"title":"WIP: Prepare
        11.4.0-rc8 release","description":"Main release issue: https://gitlab.com/gitlab-org/release/tasks/issues/460\n\n###
        Summary\n\nThis MR prepares `11-4-stable` for %\"11.4\" (`RC8`) by merging
        `11-4-stable-prepare-rc8` into `11-4-stable`.\n\n### Before the 7th\n\nMerge
        master into the preparation branch\n\n### After the 7th\n\n#### MR Filter
        for ~\"Pick into 11.4\" MRs\n\nhttps://gitlab.com/gitlab-org/gitlab-foss/merge_requests?label_name%5B%5D=Pick+into+11.4\u0026scope=all\u0026state=merged\n\n###[...]
