---
http_interactions:
- request:
    method: get
    uri: https://version.gitlab.com/api/v1/versions?per_page=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[RELEASE_BOT_VERSION_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Link:
      - <https://version.gitlab.com/api/v1/versions?page=2&per_page=50>; rel="next",
        <https://version.gitlab.com/api/v1/versions?page=1&per_page=50>; rel="first",
        <https://version.gitlab.com/api/v1/versions?page=9&per_page=50>; rel="last"
      Etag:
      - W/"9fa211f99236686172d0312b0607b74a"
    body:
      encoding: UTF-8
      string: '[{"id":423,"version":"11.7.5","vulnerable":false,"created_at":"2019-02-07T19:23:27.204Z"},{"id":421,"version":"11.7.4","vulnerable":false,"created_at":"2019-02-05T13:50:34.442Z"},{"id":420,"version":"11.6.9","vulnerable":false,"created_at":"2019-02-05T13:50:30.418Z"},{"id":419,"version":"11.7.3","vulnerable":true,"created_at":"2019-01-31T15:17:54.238Z"},{"id":418,"version":"11.6.8","vulnerable":true,"created_at":"2019-01-31T15:17:42.858Z"},{"id":417,"version":"11.5.10","vulnerable":false,"created_at":"2019-01-31T15:17:34.559Z"},{"id":416,"version":"11.7.0"[...]
